.dash-infor{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dash-grid{
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.dash-grid > .dash-title {
    display: flex;
    justify-content: space-between;
}
.dash-title > span {
    font-style: normal;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 50px;
    color: #0B132A;
}
.dash-title > .filter {
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 3%;
    cursor: pointer;
}
.filter > span {
    font-style: normal;
    font-weight: 800;
    font-size: 1.1rem;
    line-height: 17px;
    color: #0191B4;
    margin-left: 6px;
}
.dash-contact-container{
    height: 100%;
    width: 70%;
    display: flex;
    flex-flow: column;
}
.dash-contact{
    display: flex;
    justify-content: flex-start;
}
.contact{
    align-items: center;
    width: 100%;
}
.social{
    width: 42%;
}
.general{
    width: 58%;
}
.contact > h3{
    font-weight: 600;
    line-height: 19px;
    font-size: 1.3rem;
    margin-left: 10%;
    margin-bottom: 3%;
}
.content {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1.4%;
}
.content > div {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 2%;
}
.content > div > span{
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}
.content > img {
    width: 5%;
    text-align: center;
    align-items: center;
}
.dash-describe{
    align-items: center;
    display: flex;
}
.dash-describe > p {
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1%;
}
.dash-button{
    height: 100%;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.button-container{
    display: flex;
    justify-content: space-between;
    padding: 0 14%;
    margin-bottom: 3%;
}
.follow-container{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}
.btn-square {
    width: 140px;
    height: 37px;
    border-radius: 7px;
    background: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    border: 1px solid #4BA1B0;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}
.btn-square:hover,
.btn-square:focus,
.btn-square:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn-square > span {
    color: #0191B4;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.btn-choose{
    background: #0191B4;
    margin-right: 3%;
}
.btn-choose > span {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}
.follow-child{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.follow-child > h3{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
.follow-child > h4{
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
}
.dropdown-item{
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 800 !important;
    line-height: 17px !important;
    text-align: center !important;
    color: #0191B4 !important;
    padding: 6% 0 !important;
}
.dropdown-menu{
    height: fit-content !important;
    padding: 0 !important;
}
.dropdown-toggle:focus::after{
    transform: rotate(180deg) !important;
}
.rating-container{
    display: flex;
    justify-content: space-between;
    padding: 0 9%;
    margin-bottom: 5%;
}
.rating-container > .rating-gap {
    align-items: center;
    text-align: center;
}
.rating-gap > .rating-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto 0;
    margin-bottom: 4%;
}
.rating-content > span{
    font-weight: bold;
    line-height: 19px;
    font-size: 1.05rem;
    text-align: center;
    align-items: center;
}
.rating-content > img{
    margin-right: 5px;
}
.rating-gap > h5 {
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 15px;
    text-align: center;
    color: #828282;
    margin-bottom: 0;
}
.rating-container > img{
    margin-bottom: 4.5%;
}