$secondaryBlue: #35BBCA;
$primaryBlue: #0191B4;
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@mixin fontStyle($weight, $size, $height, $color) {
  font-family: Inter;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

.Modall {
    text-align: center;
    // padding-top: 2rem;
  }
  
  .modal-close-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: 370px;
    height: 5px;
  }
  
  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default { //button to start popup
    background: #247BA0;
    color: #fff;
  }
  
  .modal {
    display: grid; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    // overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal-content {
    top: 40px;
    background-color: #fefefe;
    border-radius: 20px;
    margin: auto auto; /* margin: 5% auto; 5% from the top and centered - auto v and h view */
    // margin: 10px 5% 5% 10px;
    padding: 5px 20px 15px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    // height: 80%;

    & .modal-title{
      @include fontStyle(700, 35px, '', black);
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      h6 {
        @include fontStyle(500, 14px, '', #35BBCA);
      }
    }
    & .modal-form{
      margin:auto;
      width: 70%;
      h3 {
        margin-top: 5px;
        @include fontStyle(600, 16px, '', black);
      }
      .field{
        margin-left: 20px;
        // margin-right: 20px;
        margin-bottom: 5px;
        @include fontStyle(400, 14px, '', black);
      }
      .dayOfWeek{
        margin-left: 5px;
        margin-bottom: 5px;
        @include fontStyle(400, 14px, '', black);
      }
    }
    & .user-info{
      margin: auto;
      width: 250px;
      height: 65px;
      border-radius: 80px;
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
      align-items: center;
     
      img {
        width: 50px;
        margin-left: 10px;
        margin-right: 20px;
      }
      @include fontStyle(600, 14px, '', #0D1C2E);
      &:hover{
        background-color: rgba(53, 187, 202, 0.4);
      }
    }
  }
  
  /* The Close Button */
  .close {
    color: #C2C2C2;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Submit Modal Form Button */
  .Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20%;
    padding-top: 1%;
    input {
      width: 336px;
      height: 42px;
      padding: 10px;
      @include fontStyle(800, 14px, 17px, white );
      text-align: center;
      letter-spacing: -0.5px;
      background: #0191b4;
      border-radius: 8px;
      border: none;
      margin-top: 3px;
      &.button-secondary{
        margin-right: 10px;
        background: white;
        @include fontStyle(800, 14px, 17px, $primaryBlue );
        border: 1px solid $primaryBlue;
      }
      &:hover{
          box-shadow: 0px 8px 24px rgba(1, 145, 180, 0.1), 0px 16px 32px rgba(1, 145, 180, 0.08);
      }
      &:active{
          box-shadow: 0px 0px 30px 10px rgba(1, 145, 180, 0.24);
      }
    }
  }
textarea{
  // filter: drop-shadow(0px 2px 5px rgba(52, 60, 68, 0.16));
  border-radius: 6px;
  background: #FBFBFB;
  border: 1px solid #D6E4EC;
  box-sizing: border-box;
  @include fontStyle(400, 14px, '', #828282);
  padding-top: 10px;
  padding-left: 10px;
  &:hover{
    border: 1px solid $secondaryBlue;
    filter: drop-shadow(0px 0px 1.5px rgba(1, 145, 180, 0.04)), drop-shadow(0px 2.7px 5.5px rgba(1, 145, 180, 0.16));
  }
  &:active, &:focus{
    border: 1px solid $secondaryBlue;
    outline: $secondaryBlue;
    filter: drop-shadow(0px 2px 5px rgba(1, 145, 180, 0.2));
  }
}

.input-number{
  @include fontStyle(400, 14px, '', #828282);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;

  &label{
    @include fontStyle(500, 16px, 19px, #828282);
  }
  & select{
    width: 90%;
  }
}
.field{
  margin-bottom: 5px;
}
.dcm{
  background-color: #0191b4;
}

.comment-box{
  overflow-y: auto;
  margin-top: 5px;
  width: 100%;
  height: 350px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  border-radius: 10px;
    .box{
      width: 95%;
      height: 95%;
      margin: 10px 5px 10px 5px;
     
      background: #F2F5FA;
      border-radius: 6px;
     
      h5{
        @include fontStyle(500, 14px, '', #828282);
        margin: 5px 10px 5px 10px;
      }
      h6{
        @include fontStyle(500, 12px, '', #BDBDBD);
        margin: 5px 10px 5px 10px;
      }
    &:hover{
      box-shadow: 0px 8px 24px rgba(1, 145, 180, 0.1), 0px 16px 32px rgba(1, 145, 180, 0.08);
    }   
    .review-info{
      margin: auto;
      width: 250px;
      height: 65px;
      border-radius: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info{
        display: flex;       
        align-items: center;
      }
      img {
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .rating{
        float: right;
        display: flex;
        flex-direction: center;
        align-items: center;
        margin-right: 10px;
  
      }
      @include fontStyle(600, 14px, '', #0D1C2E);
    }
    }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(53, 187, 202, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:rgba(1, 145, 180, 1);
  }
}

.course-info{
  border-radius: 50px;
  margin: auto auto; 
  width: 40%;
  height: 85%;
  background-color: #fff;
  .gradient-bg{
    display: flex;
    justify-content: center;
    height: 170px;
    left: 0px;
    right: 0px;
    background: linear-gradient(90deg, #BCD1FF 0%, #89AEFF 100%);
    border-radius: 50px 50px 0px 0px;
    img{
      width: 120px;
    } 
    .modalcourse-close-button {
      position: absolute;
      background-color: transparent;
      left: 1000px;
      top: 40px;
      .closee {
        color: #ffffff;
        float: right;
        font-size: 28px;
        font-weight: normal;
        :hover,:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      }
    }
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ta-info{
    margin-left: 50px;
    margin-top: 5px;
    width: 250px;
    height: 65px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info{
      display: flex;       
      align-items: center;
    }
    img {
      width: 40px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .rating{
      float: right;
      display: flex;
      flex-direction: center;
      align-items: center;
      margin-right: 10px;
      h5{
        @include fontStyle(600, 14px, '', #0D1C2E);
        margin: 5px 5px 5px 30px;
      }

    }
    @include fontStyle(600, 14px, '', #0D1C2E);
    &:hover{
      background-color: rgba(53, 187, 202, 0.4);
    }
  }
.course-detail{
  margin-left: 50px;
  margin-right: 30px;
  @include fontStyle(600, 14px, '', #0D1C2E);
  .threebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box{
      width: 160px;
      height: 170px;
      background: #F2F5FA;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
  
  h6{
    display: inline-block;
    @include fontStyle(300, 14px, '', #0D1C2E);
  }
  h3{
    margin-top: 5px;
    @include fontStyle(600, 16px, 22px, #6E798C);
  }
  h1{
    @include fontStyle(600, 24px, 25px, #0D1C2E);
  }
  h5{
    @include fontStyle(normal, 14px, 20px, #0D1C2E);
  }
}
}