.navbar{
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}
.navbar-logo{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
}
.logo {
    margin-right: 0.5rem;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 15px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    margin-right: 2rem;
}
.nav-links{
    color: black;
    display: flex;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    align-items: center;
}
.nav-links:hover{
    border-bottom: 4px solid #0191B4;
    color: #0191B4;
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.btn{
    padding: 8px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: black;
    font-size: 18px;
}
.btn:hover{
    transform: scale(1.1);
}
.signup{
    margin-left: 0.5rem;
    color: #0191B4;
    border: 1px solid #0191B4;
}
.signup:hover{
    background-color: #0191B4;
    color: #fff;
}
.noti-container{
    display: flex;
}
.icon {
    border: 1px solid black;
}
.noti {
    color: black;
}
