@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@mixin fontStyle($weight, $size, $height, $color) {
  font-family: Inter;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

.item-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 3%;
    padding: 1%;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 8px 24px rgba(1, 145, 180, 0.1), 0px 16px 32px rgba(1, 145, 180, 0.08);
    }

    .item-content {
        padding: 1rem;

        span{
            @include fontStyle(600, 1.6rem ,25px ,#081F32) ;
            display: block;
            margin-bottom: 4%;
        }
        p{
            @include fontStyle(400, 1.2rem ,25px ,#081F32 );
            display: block;
        }
    }
    .avatar{
        width: 6rem;
        height: 6rem;
        margin-right: 1%;

        img{
            max-width: 100%;
            max-height: 100%;
            border: 2px solid #0191B4;
        }
    }
}