@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@mixin fontStyle($weight, $size, $height, $color) {
  font-family: Inter;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}
.noti-body {
  height: 100%;
  background: linear-gradient(180deg, rgba(243, 243, 251, 0.7) 0%, rgba(253, 251, 253, 0.7) 100%);

  .notidash-container{
    margin-top: 15%;
    margin: 3% 20%;
    height: 94%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: fit-content;
  }
  .notidash-container::-webkit-scrollbar{
    display: none;
  }

}

