.hero-container{
    background: url('../../images/background.png') center;
    background-repeat: no-repeat;
    height: 90vh;
    max-width: 100%;   
    object-fit: contain;   
    display: flex;
    align-items: flex-start;
    /* border: 1px solid black; */
}
.btn-link{
    margin: 26rem 2.2rem;
}
.btn-learn{
    border-radius: 10px;
    color: #ffffff ;
    font-size: 20px;
    background-color: #0191B4;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 15px 60px;
}