.hero-container{
    background: url('../../images/background.png');
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;   
    background-size: contain;
    object-fit: contain;   
    display: flex;
    align-items: flex-start;
}
.btn-link{
    margin: 22rem 4.5rem;
}
.btn-learn{
    border-radius: 10px;
    color: #ffffff ;
    font-size: 20px;
    background-color: #0191B4;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 15px 60px;
}