.hero-container{
    /* background: url('../../images/background.png') no-repeat center center; */
    /* background-size: contain; */
    height: 90vh;
    max-width: 100%;   
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
    position: relative;
}
.background {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.background > img {
    width: 100%;
}
.btn-learn{
    border-radius: 10px;
    color: #ffffff ;
    font-size: 20px;
    background-color: #0191B4;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 15px 60px;
    position: absolute;
    top: 70%;
    left: 6%;
    border: none;
}