.news{
    padding: 0 2rem 4rem 2rem;
}
.news-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin: 30px auto;
    width: 100%;
}

.new-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 400px;
    height: 230px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    padding: 10px 20px 20px;
}
.titles{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.text{
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}
.titles > img{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 13px;
}
.icons {
    margin-left: auto;
    margin-right: 0;
    font-size: 1.3rem;
    color: #FEA250;
    outline: #DDDDDD;
}
.swiper-button{
    display: flex;
    align-items: center;
    height: 50px;
    width: 50%;
    padding: 15px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}
.swiper-button-next{
    display: block;
    color:  #0191B4;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 20px;
    border: 2px solid #0191B4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.swiper-button-prev{ 
    cursor: pointer;  
    font-size: 1.5rem;
    color:  #0191B4;
    border: 2px solid #0191B4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.swiper-pagination{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    text-align: center;
    height: 50px;  
    width: 20%;
    display: flex;
    color:  #0191B4;
}
.swiper-pagination-bullet{
    margin: 10px;
	padding: 5px 10px;
	border-radius: 60%;
	width: 18px;
	height: 18px;
	text-align: center;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	color: #0191B4;
	background:  #0191B4;
    width: 30px;
    height: 10px;
    border-radius: 30%;
    transition: 0.2s all ease
}
.container{
    align-items: center;
    text-align: center;
    display: flex;
}